.color-scheme-switcher {
  margin: 12px;
  margin-top: 0;
  border-spacing: 12px;
}

.color-scheme-switcher > button > box {
  margin: 6px;
  border-spacing: 6px;
}

.color-scheme-switcher > button > box > image {
  -gtk-icon-size: 32px;
}

.error-box {
  margin: 6px;
  margin-top: 0;
  border-spacing: 6px;
}
